.env
.secrets/
.gradle/
.gradle-home/
.kotlin/
.idea/
local.properties
release-signing.properties
*.jks
*.keystore
*.iml
/build/
**/build/
captures/
.DS_Store
/app/schemas/
releases/
.gradle-home/
**/.tmp/
